Options -MultiViews
RewriteEngine On
RewriteBase /loja-age/
RewriteRule ^index\.html$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /loja-age/index.html [L]
